<%- include('../partials/head')%>

<h1>Registro</h1>

<form id="formSignIn">
    <label>Nombre</label>
    <input type="text" name="first_name">
    <label>Apellido</label>
    <input type="text" name="last_name">
    <br>
    <label>Email</label>
    <input type="text" name="mail">
    <br>
    <label>Contraseña</label>
    <input name="password">
    <input type="submit" value="Registrarse">
</form>

<p>ya tienes una cuenta? <a href="/login">Inicia sesion!</a></p>

<script src="/js/usersSignin.js"></script>