<%- include('./partials/head')%> 

<h2>Bienvenido al chat!</h2>
<input id="chatInput">
<div id="chat">

</div>

<p>Presione enter para enviar el mensaje</p>

<a href="/">Volver a la tienda</a>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>