<%- include('./partials/head')%>
<div>
    <h2>Bienvenido/a <% if (session) { %>
        <span><%= session.name %> </span>
    <% } %> a la tiendita ♥</h2>
    <div id="session">
        <% if (session) { %>
            <a href="/logout">
                <img src="/images/ecommerce/log-out.png">
                Cerrar sesion
            </a>
        <% } else { %>
            <a href="/login">
                <img src="/images/ecommerce/icon-usuario.png"> Iniciar sesion
            </a>
        <% } %>
    </div>
</div>
<br>
<a href="/products">Productos</a>
<br>
<a href="/carts">Carritos</a>
<br>
<a href="/chat">Chat</a>
