<%- include('./partials/head')%>
<h2>Bienvenido/a a la tiendita ♥</h2>

<a href="/products">Productos</a>
<br>
<a href="/carts">Carritos</a>
<br>
<a href="/form">Formulario-desafio anterior</a>
<br>
<a href="/chat">Chat-desafio pasado</a>
